<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form class="form-inline definewidth m20" action="/rangjiajie/index.php/Admin/Offsale/search" method="get">  
    商品名称：
    <input type="text" name="terms" id="terms"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary">查询</button>
</form>
<table class="table table-bordered table-hover definewidth m10" >
    <thead>
    <tr>
        <th>商品编号</th>
        <th>商品分类</th>
        <th>商品名称</th>
        <th>商品价格</th>       
        <th>添加时间</th>
        <th>管理操作</th>
    </tr>
    </thead>
   <volist name="list"  id="goods">
	     <tr>
            <td>{$i}</td>
            <td>{$goods.cat_id}</td>
            <td>{$goods.goods_name}</td>
            <td>{$goods.market_price}</td>     
            <td>{$goods.create_time}</td>
            <td>
                  
                   
                 <a id="btn_repeat_{$goods.id}" rel='{$goods.id}' style='cursor:pointer'>上架</a>
            </td>
        </tr>
        
      </volist>
     
        </table>
      </form>
<div class="inline pull-right page">
        {$page}  </div>
</body>
</html>
<script>
    $(function () {
        
		$('[id^=btn_repeat_]').each( function () {

     $(this).click( function () {
       var id=$(this).attr('rel');
      
       if (id != '') {
          $.ajax({
            type: "get",
            url: "http://localhost/rangjiajie/index.php/Admin/Offsale/modify/id/"+ id, 
            success: function(status){
            	window.location.href="http://localhost/rangjiajie/index.php/Admin/Offsale/index"
            	//$("#test").html("<font color='green'>"+status+"</font>");
            }  ,
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      alert(XMLHttpRequest +':'+ textStatus +':'+ errorThrown);
    }                    
          });
          // window.location.href="http://localhost/rangjiajie/index.php/Admin/Off_sale/";
       } 
    });
  });


    });

	
	
	
	
	
</script>