<include file='Public:header'/>
<form action="{:U(MODULE_NAME.'/Role/addRole')}" method='post' class="definewidth m20">
    <table class="table table-bordered table-hover definewidth m10">
        <tr>
            <td width="10%" class="tableleft">角色名称</td>
            <td><input type="text" name="title"/></td>
        </tr>
        <tr>
            <td class="tableleft">状态</td>
            <td>
                <input type="radio" name="status" value="1" checked/> 启用  
                <input type="radio" name="status" value="0"/> 禁用
            </td>
        </tr>
        <tr>
            <td class="tableleft">权限</td>
            <td>
                <foreach name='rule' item='v'> 
                    <label class='checkbox inline'><input type='checkbox' name='rules[]' value='{$v.id}' />{$v.title}</label>
                </foreach>

                <!-- <ul>
                    <li><label class='checkbox inline'><input type='checkbox' name='group[]' value='' />权限</label>
                        <ul>
                            <li><label class='checkbox inline'><input type='checkbox' name='node[]' value='1' />权限列表</label>
                            <li><label class='checkbox inline'><input type='checkbox' name='node[]' value='2' />权限添加</label>
                        </ul>
                    </li>
                </ul> --> 

            </td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</form>
<include file='Public:bottom'/>