<include file='Public:header'/>
<form class="form-inline definewidth m20" action="index.html" method="get">  
    角色名称：
    <input type="text" name="rolename" id="rolename"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;  
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; <button type="button" class="btn btn-success" id="addnew">新增角色</button>
</form>

    <table class="table table-bordered table-hover definewidth m10">
        <thead>
            <tr>
                <th>ID</th>
                <th>角色名称</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <foreach name='role' item='v'>
            <tr>
                <td>{$v.id}</td>
                <td>{$v.title}</td>
                <td><if condition='$v.status eq 1'>启用<else />禁用</if></td>
                <td>

                    <!-- [<a href="{:U(GROUP_NAME.'/Role/roleUsers',array('id'=>$v['id']))}">成员管理</a>] -->
                    <a href="{:U(GROUP_NAME.'/Role/edit',array('id'=>$v['id']))}"><i class="icon-pencil"></i></a>
                    <a href="{:U(GROUP_NAME.'/Role/del',array('id'=>$v['id']))}"><i class="icon-remove"></i></a>
                </td>
            </tr>
        </foreach>
        <tbody>
    </table>

<include file='Public:bottom'/>