<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/Js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/cate_de.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/brand.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/DropDownListBox.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>    
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>
<form action="__URL__/modify" method="post" enctype="multipart/form-data">
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">产品名称</td>
        <td><input type="text" name="goods_name" value="{$list.goods_name}"/></td>
    </tr>
   
    <tr>
    	<td class="tableleft">产品类别</td>
    	<td>
    <select id="c1" name="c1"></select>
						  <select id="c2" name="c2"></select>
						  <select id="c3" name="c3"></select>
						  <select id="c4" name="c4"></select>
						  <input type="hidden" id="category" name="cat_id" value="{$list.cat_id}"><br/>
	    </td>       
		</tr>
		
    <tr>
        <td class="tableleft">产品品牌</td>
        <td>
        	<select  id="get_brand" name="brand_id">              
		</select> 
		</td>
    </tr>    
       <tr>
                            <td class="tableleft">拥有属性</td>
                            <td>
                            <select id="get_Key" name="kid[]" multiple="multiple" size=15>
                               	
		               
		                        </select>
                                
                                 
                            </td>
                        </tr>
    
    
    
     <tr>
        <td class="tableleft">状态</td>
        <td>
            上架：&nbsp;
            
            <if condition="$list.is_on_sale eq 1 ">
            
            <input type="radio" name="is_on_sale" value="1" checked/> 是
            &nbsp;
            <input type="radio" name="is_on_sale" value="0"/> 否
             <else/> 
             <input type="radio" name="is_on_sale" value="1" /> 是
            &nbsp;
            <input type="radio" name="is_on_sale" value="0" checked/> 否

           </if>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            推荐：&nbsp;
            <if condition="$list.is_best eq 1 ">
            <input type="radio" name="is_best" value="1" checked/> 是
            &nbsp;
            <input type="radio" name="is_best" value="0"/> 否
            <else/> 
            <input type="radio" name="is_best" value="1" /> 是
            &nbsp;
            <input type="radio" name="is_best" value="0" checked/> 否	
            </if>
            	
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            促销：&nbsp;
            <if condition="$list.is_promote eq 1 ">
            <input type="radio" name="is_promote" value="1" checked/> 是
            &nbsp;
            <input type="radio" name="is_promote" value="0"/> 否
            <else/> 
            <input type="radio" name="is_promote" value="1" /> 是
            &nbsp;
            <input type="radio" name="is_promote" value="0" checked/> 否
            </if>  
        </td>
    </tr>
   
    <tr>
        <td width="10%" class="tableleft">市场价</td>
        <td><input type="text" name="market_price" value="{$list.market_price}"/></td>
    </tr>
    
    <if condition="$list.is_promote eq 1 ">
    <tr id="pro_list">
        <td width="10%" class="tableleft">促销价</td>
        <td><input type="text" name="promote_price" value="{$list.promote_price}"/></td>
    </tr>
    
     <tr id="pro_list1">
        <td width="10%" class="tableleft">促销时间</td>
        <td><input type="text" name="promote_start_date" value="{$list.promote_start_date}"/> - <input type="text" name="promote_end_date" value="{$list.promote_end_date}"/></td>
    </tr>
 
   </if>
   
    <tr>
        <td width="10%" class="tableleft">产品图片</td>
        <td><img src="__ROOT__/Uploads/{$list.goods_img}"  maxwidth=80px></td>
    </tr>
    
     <tr>
        <td width="10%" class="tableleft">产品二维码</td>
        <td><img id="sn" src="__ROOT__/Uploads/ewm/{$list.goods_sn}"/> <input type="text" name="goods_sn"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="goods_sn" class="button" value="生成" />	 &nbsp;&nbsp;&nbsp; <span  id="img_sn">   </span>      </td>
    </tr>
    
     <tr>
        <td width="10%" class="tableleft">产品描述</td>
        <td><textarea name="goods_desc" id="myEditor" >{$list.goods_desc}</textarea></td>
    </tr>
    
    
   
    <tr>
        <td class="tableleft"></td>
        <td>
        	<input type="hidden"  id="id" name="id" value="{$list.id}">
          <button type="submit" class="btn btn-primary" type="button">保存</button>&nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
          
</form>
</body>
</html>





<script>
    $(function () {  
    	  	 
    	 set_category('', 1, '');        		    
     $('#backid').click(function(){
				window.location.href="http://localhost/rangjiajie/index.php/Admin/Goods";
		 }); 
		 
//当前品牌		    
  $.get("http://localhost/rangjiajie/index.php/Admin/Brand/getBrandbyid/",{id:$("#id").val(),cat_id:$("#category").val()},function(data){

   $.each(data, function(i,data){
   	if(data.id==data.b_id){
      $("#get_brand").append("<option value="+data.id+">"+data.brand_name+"</option>");
      $("#get_brand ").val(data.id);    
	}else{
		  $("#get_brand").append("<option value="+data.id+">"+data.brand_name+"</option>");
	}	
});	
},'json');



//所有品牌
change_brand();

//当前属性
$.get("http://localhost/rangjiajie/index.php/Admin/Keyword/getKeybyid/",{id:$("#id").val(),cat_id:$("#category").val()},function(data){
   $.each(data, function(i,data){  
   	
 		var  item=new Array();
    
    item=data.kid.split(","); 
    
   	if(data.count==2){  
          $("#get_Key").append("<option value="+data.id+">"+data.name+"</option>");        
        }
        else{
        	$("#get_Key").append("<option value="+data.id+">"+"&nbsp;"+"&nbsp;"+"&nbsp;"+data.name+"</option>");  
        }
      for(j=0;j<item.length;j++){
           	
              if(data.id==item[j]){
              	              
              $("#get_Key option[value="+data.id+"]").attr("selected",true); 	
      
           
              
              
             
              }
           } 
              
   
});	
    
  
        
},'json');


//关键字属性
    $("#c1").change(function(){
          $("#get_Key")[0].options.length=0;
           	$("#get_Key").prepend("<option value='0'>顶级属性</option>"); 
        $.getJSON('http://localhost/rangjiajie/index.php/Admin/Keyword/getKeyword?cat_id='+ $("#c1").val(), function(data){
          $.each(data, function(i,data){  
         if(data.count==2){  
          $("#get_Key").append("<option value="+data.id+">"+data.name+"</option>");
        }else{
        	$("#get_Key").append("<option value="+data.id+">"+"&nbsp;"+"&nbsp;"+"&nbsp;"+data.name+"</option>");
        }
      });
                      
        });
         return false;  
    });   
    $("#c2").change(function(){
    	 $("#get_Key")[0].options.length=0;
    	  	$("#get_Key").prepend("<option value='0'>顶级属性</option>"); 
        $.getJSON('http://localhost/rangjiajie/index.php/Admin/Keyword/getKeyword?cat_id='+ $("#c2").val(), function(data){
          $.each(data, function(i,data){  
          if(data.count==2){  
          $("#get_Key").append("<option value="+data.id+">"+data.name+"</option>");
        }else{
        	$("#get_Key").append("<option value="+data.id+">"+"&nbsp;"+"&nbsp;"+"&nbsp;"+data.name+"</option>");
        }
      });
                         
        });
         return false; 
    });
    $("#c3").change(function(){
    	 $("#get_Key")[0].options.length=0;
    	  	$("#get_Key").prepend("<option value='0'>顶级属性</option>"); 
        $.getJSON('http://localhost/rangjiajie/index.php/Admin/Keyword/getKeyword?cat_id='+ $("#c3").val(), function(data){
          $.each(data, function(i,data){
          	if(data.count==2){  
          $("#get_Key").append("<option value="+data.id+">"+data.name+"</option>");
        }else{
        	$("#get_Key").append("<option value="+data.id+">"+"&nbsp;"+"&nbsp;"+"&nbsp;"+data.name+"</option>");
        }
      });
                      
        });
         return false;  
    });
    $("#c4").change(function(){
    	 $("#get_Key")[0].options.length=0;
    	  	$("#get_Key").prepend("<option value='0'>顶级属性</option>"); 
        $.getJSON('http://localhost/rangjiajie/index.php/Admin/Keyword/getKeyword?cat_id='+ $("#c4").val(), function(data){
          $.each(data, function(i,data){  
          if(data.count==2){  
          $("#get_Key").append("<option value="+data.id+">"+data.name+"</option>");
        }else{
        	$("#get_Key").append("<option value="+data.id+">"+"&nbsp;"+"&nbsp;"+"&nbsp;"+data.name+"</option>");
        }
      });
                          
        });
        return false; 
    });
    
    
//改变二维码
   $("#goods_sn").click(function(){
   	var content=$("input[name='goods_sn']").val();
   $.get("http://localhost/rangjiajie/index.php/Admin/Goods/get_goods_sn/",{id:$("#id").val(),content:content},function(data){
   $("#sn").hide();
   $("#img_sn").html("<img src=./Uploads/ewm/"+data.sn_image+">"); 
   $("#img_sn").append("<input type=hidden name=sn_image value="+data.sn_image+">");
               
  
        
},'json');
    
  });    
    
    
     
    }); 
    
 
 
</script>

<script type="text/javascript">
    UE.getEditor('myEditor',{
        initialFrameWidth : 680,
        initialFrameHeight: 200
    }); 
    
     //促销 
     $("input[name='is_promote']").click(function(){
    var a=$("input[name='is_promote']:checked").val();
    if(a==0){
      $("#pro_list").hide();
    	$("#pro_list1").hide();
    	
    }else{
    	$("#pro_list").show();
      $("#pro_list1").show();
    }
    
});
</script>